.cartBTN {
  box-sizing: content-box;
  display: flex;
  place-items: center;
  font-size: 100%;
  line-height: 1;
  height: 1.2em;
  aspect-ratio: 1;
  margin: 1em 1em 0 auto;
  padding: 4px 12px;
  position: relative;
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border: 1px solid gray;
  border-radius: 4px;
}

.cartBTN:focus {
  border-color: var(--nav-bg);
  outline: 2px solid var(--nav-bg);
}

.cartBTN:active {
  color: var(--text-secondary);
  background-color: var(--background-primary);
}

.cartBTNBadge {
  position: absolute;
  background-color: var(--nav-bg);
  right: -0.75em;
  top: -0.75em;
  padding: 2px 8px;
  border-radius: 1000px;
}
