:root {
  --max-width: 960px;
  --text-primary: #202528;
  --text-secondary: #595c5f;
  --background-primary: #ffffff;
  --background-secondary: #e8ebee;
  --nav-bg: #ffd400;
  --nav-link-bg-hover: #ffee99;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

svg {
  height: 1em;
  vertical-align: -0.125em;
  pointer-events: none;
}

svg path {
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.content-wrapper {
  max-width: var(--max-width);
  margin: auto;
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.bg-primary {
  background-color: var(--background-primary);
}

.bg-secondary {
  background-color: var(--background-secondary);
}

.figure {
  position: relative;
}

.figureCaption {
  position: absolute;
  left: 0;
  bottom: 0;
}

.showing-modal {
  overflow: hidden;
  padding-right: 14px;
  transition: none;
}

.modal {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-right: 14px;
  position: fixed;
  left: 0;
  bottom: 100%;
  transition: background-color 0.2s 0.3s, bottom 0s 0.5s;
}

.show {
  bottom: 0;
  background-color: #0005;
  transition: background-color 0.2s;
}

.modal-body {
  flex: 1;
  box-sizing: border-box;
  opacity: 0;
  min-width: 0;
  max-width: var(--max-width);
  margin: 2em;
  background-color: var(--background-secondary);
  transition: opacity 0.5s;
}

.modal-content {
  height: 100%;
  overflow: hidden auto;
}

.show .modal-body {
  opacity: 1;
  transition: opacity 0.5s 0.1s;
}

