.title {
  font-size: 1.2em;
}

.prodList {
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--background-secondary);
  padding: 8px;
}

@media screen and (width >= 768px) {
  .prodList {
    grid-template-columns: repeat(4, 1fr);
  }
}
